.lib-button {
  border-color: #004b64;
  background-color: #004055;
  color: #fff;

  border-radius: 1rem;
  padding: .5rem 1.5rem;

  font-size: 1rem;

  cursor: pointer;
}

.lib-button--disabled {
  border-color: #d3d2d2;
  background-color: #c2c2c2;
  color: #707070;

  cursor: not-allowed;
}
